.img_Card_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 18rem;
}
.imgCard {
    width: 9rem;
}
.title_Card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.description_Card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.nombre_Card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#core-concepts li {
    flex: 1; /* Hace que cada elemento li ocupe el mismo espacio disponible */
    max-width: calc(50% - 1rem); /* Define el ancho máximo para que dos elementos se muestren en una fila */
    text-align: center; /* Alinea el texto al centro */
  }
 
