.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2b0850;
  flex-wrap: wrap;
  height: 6em;
}

.header__izquierda {
  display: flex;
  align-items: center;
}

.header__derecha {
  display: flex;
  align-items: center;
}

.header__center{
  display: flex;
  align-items: center;
}

.header__logo {
  height: 6em;
  margin-right: 20px;
}

.navigate img {
  width: 40px;
  margin-right: 10px;
}

.navigate img:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.header__titulo {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  color: aliceblue;
}

.header:hover{
  background-color: #261339;
}
