#root {
  width: 100%; /* Establece el ancho máximo del elemento con ID "root" */
  margin: 0 auto; /* Centra el elemento horizontalmente */
  padding: 2rem; /* Agrega relleno alrededor del elemento */
  text-align: center; /* Alinea el texto y los elementos hijos al centro */
}

